extends layout

append head_styles
  <!-- https://dev.twitter.com/web/overview/widgets-webpage-properties -->
  meta(name='twitter:widgets:theme', content='light')
  meta(name='twitter:widgets:link-color', content='#55acee')
  meta(name='twitter:widgets:border-color', content='#55acee')
  meta(name='twitter:widgets:autoload', content='off')
  meta(name='twitter:dnt', content='on')

  <!-- Font used for the title -->
  link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Alegreya Sans SC')
  
  link(rel='stylesheet', type='text/css', href='stylesheets/index.css')

append body_content
  div(class='row row-title')
    div(class='col-md-12')
      div(class='col-md-3')
        img(src='images/teltec-logo-alpha.png', onclick="$('.config-panel').show();")
      div(class='col-md-8')
        h1.social-wall-title
          | #{title}

  .config-panel
    form.config-form
      .form-group
        label(for='title') title (string)
        input#title.form-control.config(type='text', data-item='title', data-type='str', value='#{title}', autocomplete='off')
      .form-group
        label(for='max_visible_items') max_visible_items (int)
        input#max_visible_items.form-control.config(type='text', data-item='max_visible_items', data-type='int', autocomplete='off')
      .form-group
        label(for='update_interval') update_interval (int, in milliseconds)
        input#update_interval.form-control.config(type='text', data-item='update_interval', data-type='int', autocomplete='off')
      button.btn.btn-default(type='submit', name='save') Save
      button.btn.btn-default(type='submit', name='stop') Stop

  .index-body-content
    div.social-templates
      .tweet-template-native
        .tweet-item
          // Twitter widget
      .instagram-template-native
        .instagram-item
          // Instagram widget
    div(id='social-grid')
      

append foot_scripts
  script(type='text/javascript', src='3rd/moment/moment-with-locales.min.js')
  script(type='text/javascript', src='javascripts/diacritics.js')
  script(type='text/javascript', src='javascripts/badwords.pt-br.js')
  script(type='text/javascript', src='//vestride.github.io/Shuffle/dist/shuffle.js')
  script(type='text/javascript', src='javascripts/dynamic-grid.js')
  script.
    $(document).ready(function() {
      var locale = 'pt-BR';
      moment.locale(locale);
      console.log('moment.locale = ' + moment.locale());
      
      window.social_grid = new DynamicGrid(document.getElementById('social-grid'));

      //var getTweetTimestamp = function (element) {
      //  return parseInt(element.getAttribute('data-timestamp'), 10);
      //};
      //window.social_grid.sort_by(getTweetTimestamp, false);
    });
  script(type='text/javascript', src='javascripts/badwords-filter.js')
  script(type='text/javascript', src='javascripts/websocket-client.js')
  script(type='text/javascript', src='javascripts/twitter-receiver.js')
  script(type='text/javascript', src='javascripts/instagram-receiver.js')
  script(type='text/javascript', src='javascripts/presentation.js')
