extends layout

append head_styles  
  link(rel='stylesheet', type='text/css', href='stylesheets/privacy.css')

append body_content
  div(class='row row-title')
    div(class='col-md-12')
      div(class='col-md-3')
        img(src='images/teltec-logo-alpha.png', onclick="$('.config-panel').show();")

  .index-body-content
    h1.privacy-title
      | #{title}
    div.privacy-policy
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?